body {
   margin: 0;
   padding: 0;
}

#backgroundImage:before {
   content: "";
   position: absolute;
   background-image: url(img/wheat.png);
    background-size: 100%;
    opacity: 0.3;
    height:100vh;
    width:100%;
    background-position: center;
    background-size: cover;
 }


 /* #backgroundImage:before {
   content: "";
   position: absolute;

   background-image: url(img/rift.png);
   opacity: 0.3;
   height: 100%; 
   background-size: 100%;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
} */